.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

/* Animated gradient logo */
.logo-animated-gradient {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;

  background: linear-gradient(
    to right,
    #FF9F43 0%,
    #5D3FD3 50%,
    #FF9F43 100%
  );
  background-size: 300% 100%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  animation: shimmer 5s linear infinite;
  letter-spacing: -1px;
}

/* Bold and light parts of logo */
.logo-nexus {
  font-weight: 700;
}
.logo-meet {
  font-weight: 300;
}

/* Shimmer animation */
@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] {
  background: #D97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
